<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GoodBye- FeedBack System</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'fds/style.css' %}">
</head>
<body>
	<div class="container">
		<div class="title-head">
			<p>Feedback App</p>
		</div>
		<div class="wish">
			<p class="wish-data" style="font-style: none; font-size: 40px;">Thanks for your Feedback</p>
			<p style="margin-bottom: 151px;">for any quires contact us on <a href="#">contact@example.com</a></p>
		</div>
		
		<div class="title-foot">
			<p>&copy;example.com 2018</p>
		</div>
	</div>
</body>
</html>